# Dependencies
node_modules/

# SvelteKit build artifacts
.svelte-kit/
.build/
output/
dist/

# Vite local cache
vite.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/
